.inputFields {
    width: 500px;
    display: flex;
    height: 100px;
    margin-top: 60px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.inputFields2 {
    margin-left:20px;
    width: 500px;
    display: flex;
    height: 100px;
    margin-top: 60px;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
}


.listItemContainer{
    display:flex;
    width: 250px;
    height: 200px;
    margin-right: 20px;
    margin-top: 50px
}


.container2{
    width: 700px;
}

.container3{
    width: 400px;
}


.container {
    margin-top: 10px;
    margin-left: 20px;  
    display: flex;
    flex-wrap: wrap; 
    /* grid-template-columns: 1fr 0.5fr; */
}

.title {
    text-align: center;
}