.inputFields {
    width: 500px;
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.listItemContainer{
    display:flex;
    width: 250px;
    height: 200px;
    margin-right: 20px;
    margin-top: 50px
}


.container2{
    width: 700px;
}

.container3{
    width: 400px;
}


.container {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    /* grid-template-columns: 0.5fr 1fr 1fr; */
}

.title {
    text-align: center;
}