.inputFields {
  width: 500px;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.listItemContainer {
  display: flex;
  width: 200px;
  height: 100vh;
  margin-right: 20px;
  /* margin-top: 50px; */
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin-top: -20px;
  background-color: rgb(87, 141, 161);
}

.container2 {
  width: 720px;
}

.container3 {
  width: 400px;
}

.container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}

.title {
  text-align: center;
}

.graphsContainer {
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
}
